@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0.525rem;
}
::-webkit-scrollbar-track {
  background: #475569;
}
::-webkit-scrollbar-thumb {
  background: #334155;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.montserrat {
  font-family: var(--font-montserrat);
}
.poppins {
  font-family: var(--font-poppins);
}

p,
span {
  font-family: var(--font-poppins);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-montserrat);
}

a:hover {
  color: #f43f5e;
  transition: all 0.3s linear;
}

strong,
i,
b {
  color: #f43f5e;
  letter-spacing: 0.015em;
  opacity: 0.8;
}

input,
textarea {
  outline: none;
  background: none;
  border: 1px solid;
  border-radius: 5px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 12px auto;
  width: 100%;
}
.hireBtn a:hover {
  color: unset;
}

.project-image-wrapper {
  height: 220px;
  width: 100%;
  overflow: hidden;
}

.project-image-wrapper img {
  object-fit: cover;
  object-position: top center;
  transition: all 0s linear;
}

.project-image-wrapper:hover img {
  object-position: bottom center;
}

.masonryStyle {
  overflow: hidden;
  cursor: pointer;
}

.highlightsBullet li::marker {
  color: #f43f5e;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
